<module>
	<fields>
	
		<instance></instance>
		<system>
			<module_name>false</module_name>
			<subtitle_private>false</subtitle_private>
			<module_protected>false</module_protected>
			<module_groups>false</module_groups>
			<module_memberships>false</module_memberships>
			<module_user_position>false</module_user_position>
		</system>
	</fields>		
</module>