<form>

	<fields>

		<box width="6" title="Vehicles">
			<fields>
				<set_vehicles_sheet_id title="Google Sheet ID#" type="textbox"></set_vehicles_sheet_id>
				<set_vehicles_worksheet title="Google Worksheet Name" type="textbox"></set_vehicles_worksheet> 
			</fields>
		</box>
		
	</fields>


</form>