<form>
	<fields>
		<box title="FTP Server" width="12">
			<fields>				
				<set_server type="textbox" title="Server" referers="set_port" width="70%"></set_server>
				<set_port type="textbox" title="Port" referer="true" width="30%" preffix=":" default="21"></set_port>

				<set_username type="textbox" title="Username" />
				<set_password type="textbox" title="Password" />
				<set_passive type="checkbox" checked="1" label="yes|no" title="Passive"/>
				<set_ssl type="checkbox" checked="1" label="yes|no" title="SSL"/>
				<set_path type="textbox" title="File Path"/>
			</fields>
		</box>
	</fields>

</form>

