<form>

	<fields>

		<box width="6" title="Google Authorisation">
			<fields>
				<set_keyfile type="textarea" script="true" title="KeyFile"></set_keyfile>	
			</fields>
		</box>


		<box width="6" title="Canadian Black Book">
			<fields>				
				<set_cbb_api_user type="textbox" title="Username" />
				<set_cbb_api_pass type="textbox" title="Password" />
			</fields>
		</box>
		
	</fields>



	<javascript>
		<after><![CDATA[

			CM("set_keyfile");

		]]></after>
	</javascript>

</form>